*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}
.body{
    width: 100%;
    /* height: 667px; */
    /* scroll-behavior: smooth; */
}

#navbar{
    /* position:fixed; */
    width: 100%;
    display: flex;
}

#name{
    padding-top: 12px;
    color: rgb(191, 185, 164);
    flex: 5;
    font-size: 1.6rem;  
    font-weight: bold;
}

.fas{
    margin-top: 15px;
    margin-left: 20px;
    font-size: 2rem;
    color: #707070;
    flex:1;
}

#home{
    background-image: url('./img/home-portfolio-mobile.jpg');    width: auto;
    height: 110vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20%;
    text-align: right;
    padding-right: 10%;
}

#home h5{
    padding-top: 20%;
    color: rgb(108, 85, 115);
    font-style: italic;
}

#about-me{
    width: 100%;
    height: 110vh;
    background-image: url('./img/home-reverse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%;
    padding-top: 30px;
}
.about-me{
    width: 90%;
    height: 90%;
    padding-bottom: 2rem;
    background: rgb(31,38,29,0.9);
    margin: auto; 
}

#about-me img{
    width: 50%;
    margin-left: 20%;
}
#text-aboutme{
    margin: 10% auto 0 auto;
    width: 70%;
    text-align: left;
    font: bold 20px/24px Roboto;
    letter-spacing: 0.2px;
    color: rgb(191, 185, 164);
    opacity: 1;
    
}
#text-aboutme span{
    font-style: italic;
}

#skills{
    height: 90vh;
    padding-top:15%;
    background: rgb(82,54,89);
background: -moz-linear-gradient(-45deg,  rgba(82,54,89,1) 11%, rgba(82,54,89,1) 11%, rgba(82,54,89,1) 41%, rgba(82,54,89,1) 61%, rgba(191,185,164,1) 100%);
background: -webkit-linear-gradient(-45deg,  rgba(82,54,89,1) 11%,rgba(82,54,89,1) 11%,rgba(82,54,89,1) 41%,rgba(82,54,89,1) 61%,rgba(191,185,164,1) 100%);
background: linear-gradient(135deg,  rgba(82,54,89,1) 11%,rgba(82,54,89,1) 11%,rgba(82,54,89,1) 41%,rgba(82,54,89,1) 61%,rgba(191,185,164,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#523659', endColorstr='#bfb9a4',GradientType=1 );

    display:flex;
}

#skills i{
    font-size: 3rem;
    color: black;
    box-shadow: 2px 2px 10px rgb(31, 38, 29);
}
#skills img{
    width: 2.7rem;
    height: 2.7rem;
    box-shadow: 2px 2px 10px rgb(31, 38, 29);
}
#skills p{
    color:#707070;
    
}

