*{
    margin:0;
    padding: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
    
}
.body{
    width: 100%;
    /* height: 667px; */
    /* scroll-behavior: smooth; */
}

#navbar{
    /* position:fixed; */
    width: 100%;
    height: 13%;
    display: flex;
    background: rgb(31,38,29,0.9);
}

#logo{
    width: 40%;
}

/* #name{
    padding-top: 12px;
    color: rgb(191, 185, 164);
    flex: 5;
    font-size: 1.4rem;  
    font-weight: bold;
} */

.fas{
    margin: 17px;
    margin-left: 20px;
    font-size: 2rem;
    color: #707070;
    flex:1;
}

#home{
    background-image: url('./img/home-portfolio-mobile.jpg');    width: auto;
    height: 568px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20%;
    text-align: right;
    padding-right: 10%;
}

#home h5{
    padding-top: 20%;
    color: rgb(108, 85, 115);
    font-style: italic;
}

#about-me{
    width: 100%;
    height: 568px;
    background-color: #181F17;
    /* background-image: url('./img/home-reverse.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 70%; */
    padding-top: 30px;
}

.about-me{
    width: 85%;
    height: 75%;
    margin-left: 0px;
    margin-top: 17%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: rgba(74, 77, 74, 0.6);
     
}

#about-me img{
    width: 40%;
    margin-left: 25%;
}
#text-aboutme{
    margin: 10% auto 10% auto;
    width: 80%;
    text-align: start;
    letter-spacing: 0.2px;
    color: rgb(191, 185, 164);
    opacity: 1;
    font-size: 0.8rem;
    font-family: 'Montserrat Alternates', sans-serif;
    
}
#text-aboutme span{
    font-style: italic;
}

#skills{
    width: 100%;
    height: 90vh;
    padding-top:17%;
    background: rgb(99, 97, 97);
    display:flex;
}

#skills i{
    font-size: 3rem;
    color: black;
    box-shadow: 2px 2px 10px rgb(31, 38, 29);
}
#skills img{
    width: 2.7rem;
    height: 2.7rem;
    box-shadow: 2px 2px 10px rgb(31, 38, 29);
}
#skills p{
    color: black;
    
}

/* #projects #motionPath path{
    margin: auto;
    width: 50%;
    height: 50%;
}

#projects #motionPath .el{
    background-color: blueviolet;
    width: 20px;
    height: 20px;
    position: absolute;
    top:1800px;
    left:0;
} */
#projects{
    width: 100%;
    height: 135vh;
    padding-top: 10vh;
   
}

#projects .tarjeta-wrap{
    width: 80%;
    height: 200px;
    margin: 10px auto 10px auto;
    -webkit-perspective: 850;
    perspective: 850;
}

#projects .tarjeta-wrap .tarjeta{
    width: 100%;
    height: 100%;
    position:relative;
    /* margin:auto; */
    transform-style:preserve-3d;
    transition:.7s ease;
}

#projects .tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}

#projects .tarjeta-wrap .tarjeta .adelante{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
#projects .tarjeta-wrap .tarjeta .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#projects .tarjeta-wrap .tarjeta .mdlinks{
    background-image: url('./img/mdlinks.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

#projects  .tarjeta-wrap .tarjeta .atras .card-body .card-text{
    font-size: 0.7rem;
}

#projects .tarjeta-wrap .tarjeta .labcar{
    background-image: url('./img/labcar.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
}
#projects .tarjeta-wrap .tarjeta .datalovers{
    background-image: url('./img/pokexpert.png');
    background-size: cover;
    /* background-repeat: no-repeat; */
}


