*{
    margin:0;
    padding: 0;
    box-sizing: content-box;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    
}
#navbar{
    width: 100%;
    height: 85px;
    display: flex;
    background: rgba(6, 4, 6,0.4);
    box-shadow: 0 0 7px 0 rgba(124, 124, 125,.6);
}

#navbar .nav-links a{ 
    text-decoration: none;
    color:white;
}

#navbar .nav-links .link-icon-one{
    width: 90%;
}

#navbar .nav-links .link-icon{
    width: 10%;
}


#navbar .nav-links li{
    height: 35px;
    margin: 15px;
    display:flex;
    align-items: center;
    /* border-bottom: solid 1px rgba(255, 255, 255, 0.7); */
}

#navbar .hamburger{
    width: 50%;
    height: 50%;
}

#navbar .nav-links{
    list-style: none;
    position: fixed;
    background: rgba(188, 57, 186,0.9);
    width: 100%;
    height: 50%;
    margin-top: 27%;
    transform: translateX(-100%);
    transition: all .5s ease;
    
}

#navbar .menuOpen{
    width: 100%;
    transform: translateY(0%);
}

#navbar .item-logo{
    width: 50%;
    height: 100%;
}

#logo{
    width: 100%;
}


#navbar .hamburger .fas{
    margin:20px;
    font-size: 2rem;
    color: #707070;
}

#navbar .nav-links .fa-chevron-right{
    font-size: 0.8rem;
}

#home{
    width: 100%;
    height: 100vh;
    background-image: url('./img/home.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: 20%;
    /* background-attachment: fixed; */
    font-size: 1rem;
    text-align: center;
    border-bottom: solid 7px rgb(188, 57, 186);  
}

#home #btn-cv{ 
    color:rgba(205, 205, 205,0.7); 
    border:solid 1px rgba(205, 205, 205,0.5);
    margin-top:50vh;
    /* font-weight: bold; */
}
#about-me{
    width: 100%;
    height: 100vh;
    background-color:rgb(73, 73, 73);
    text-align: center;   
    padding-top: 95px;
    
}
#about-me #about-desk{
    display:none;
}
#about-me .diagrama{
    width: 90%;
    margin:auto;
}
#about-me .soft{
    color:white;
    font-size:0.7rem;
}
#about-me div .photo{
    width: 35%;
}
#text-aboutme{
    width: 85%;
    text-align: justify;
    letter-spacing: 0.2px;
    color: white;
    font-size: 0.8rem;
    font-family: 'Montserrat Alternates', sans-serif;
    margin:auto;
    
}
#text-aboutme span{
    font-style: italic;
    font-weight: bold;
    color:rgb(235, 200, 234);
    font-size: 0.8rem;
}

#skills{
    width: 100%;
    height: 100vh;
    background-color: rgb(73, 73, 73);
    padding-top: 20%;
    padding-bottom: 20%;
}

#skills i{
    font-size: 2rem;
    color:rgb(235, 200, 234);
    
}

#skills img{
    width: 2rem;
    height: 2rem;
    /* box-shadow: 0 2px 2px 0 rgb(191, 185, 164,0.8); */
}

#skills span{
    color:white;
    font-size: 0.8rem;
}
#projects .content-all{
    display:none;
}
#projects{
    width: 100%;
    height: fit-content;
    padding: 25% 0;
    background-color: rgb(73, 73, 73);
}

#projects .tarjeta-wrap{
    width: 80%;
    height: 200px;
    margin: 20px auto 20px auto;
    -webkit-perspective: 850;
    perspective: 850;
    
}

#projects .tarjeta-wrap .tarjeta{
    width: 100%;
    height: 100%;
    position:relative;
    transform-style:preserve-3d;
    transition:.7s ease;
}

#projects .tarjeta-wrap:hover .tarjeta{
    transform: rotateY(180deg);
}

#projects .tarjeta-wrap .tarjeta .adelante{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border:none;
    box-shadow: 5px 5px 2px 1px rgba(0, 0, 0, 0.2);
}
#projects .tarjeta-wrap .tarjeta .atras{
    width: 100%;
    height: 100%;
    position: absolute;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateY(180deg);
}

#projects .tarjeta-wrap .tarjeta .atras .card-link{
    color:rgba(188, 57, 186,0.9);
    font-weight: bold;
    border:solid 1px rgba(188, 57, 186,0.7);
}

#projects .tarjeta-wrap .tarjeta .atras .card-body .card-text{
    font-size: 0.7rem;
}
#projects .tarjeta-wrap .tarjeta .mdlinks img{
    width: 100%;
    height: 100%;
    margin:auto;
}

#projects .tarjeta-wrap .tarjeta .labcar{
    background: rgba(6, 4, 6, 1);
}
#projects .tarjeta-wrap .tarjeta .labcar img{
    width: 70%;
    height: 100%;
    margin:auto;
}

#projects .tarjeta-wrap .tarjeta .datalovers img{
    width: 100%;
    height: 100%;
    margin:auto;
}

#projects .tarjeta-wrap .tarjeta .voltio img{
    width: 100%;
    height: 100%;
    margin:auto;
}

#projects .tarjeta-wrap .tarjeta .adelante div{
    color:rgb(204, 199, 199,0.6);
    /* border: 2px solid rgb(204, 199, 199,0.6); */
    width: 30%;
    font-size: 0.7rem;
    text-align: center;
    display:table-cell;
    vertical-align: top;
}
#projects .tarjeta-wrap .tarjeta .voltio i{
    color: black;
}

#projects .fa-undo-alt{
    position:absolute;
    color:whitesmoke;
    margin: 10px 0 0 10px;
    font-size: 20px;
}

#contacto{
    width: 100%;
    height: 10vh;
    background: #060406;
    text-align: center;
    padding-top: 5px;
}
#contacto i{
    font-size: 1rem;
    margin: 5px 5px;
}
#contacto p{
    font-size: 0.6rem;
    color: white;
}

#contacto a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

@media (min-width: 360px){
    #navbar{
        height: 95px;
    }
    #navbar .hamburger .fas{
        margin-top: 22px;
        font-size: 2.3rem;
    }
    #navbar .nav-links{
        margin-top: 95px; 
    }
    #navbar .nav-links a{
        font-size:1.1rem;
    }
    #home #btn-cv{
        font-size: 1.1rem;
        font-weight: 500;
    }
    #about-me{  
        padding-top: 100px;
    }
    #about-me #text-aboutme{
        margin: 10px auto;
        font-size: 1rem;
    }
    #text-aboutme span{
        font-size: 1rem;
    }
    #about-me .diagrama{
        width: 75%;
        margin-top:15px;
    }
    #skills i{
        font-size: 3rem;   
    }
    
    #skills img{
        width: 3rem;
        height: 3rem;
    }
    
    #skills span{
        font-size: 0.9rem;
    }
    #projects .tarjeta-wrap{
        width: 80%;
        height: 210px;
    }
    #contacto i{
        font-size: 1.5rem;
    }
    #contacto p{
        font-size: 0.9rem;
    }

}
@media (min-width: 414px){
    #home #btn-cv{
        font-size: 1.5rem;
    }
    #navbar{
        width: 100%;
        height: 110px;
    }
    #navbar .hamburger .fas{
        margin-top: 30px;
        font-size: 2.5rem;
    }
    #navbar .item-logo{
        height: 90%;
    }
    #navbar .nav-links{
        margin-top: 110px; 
    }
    #navbar .nav-links li{
        height: 40px;
        margin: 20px;
    }
    #navbar .nav-links a{
        font-size:1.3rem;
    }
    #about-me{
        padding-top: 115px;   
    }
    #about-me #text-aboutme{
        margin-top: 15px;
        font-size: 1.2rem;
    }
    #about-me .soft{
        font-size:0.9rem;
    }
    #text-aboutme span{
        font-size:1.2rem;
    }
    #skills i{
        font-size: 4rem;   
    }
    #skills img{
        width: 4rem;
        height: 4rem;
    }
    #skills span{
        font-size: 1rem;
    }
    #projects .tarjeta-wrap{
        width: 80%;
        height: 220px;
    }
    #contacto i{
        font-size: 2rem;
    } 
}
@media (min-width: 768px){
    #home #btn-cv{
        font-size: 2.5rem;
        font-weight: 500;
        border:solid 2px rgba(205, 205, 205,0.5);
    }
    #navbar{
        height: 160px;
    }
    #navbar .hamburger{
        width: 60%;
        height: 100%;
    }
    #navbar .hamburger .fas{
        margin-top: 37px;
        margin-left: 37px;
        font-size: 4.5rem;
    }
    #navbar .item-logo{
        width: 40%;
        height: 100%;
    }
    #logo{
        width: 100%;
    }
    #navbar .nav-links{
        margin-top: 160px; 
    }
    #navbar .nav-links li{
        height: 50px;
        margin: 40px;
    }
    #navbar .nav-links a{
        font-size:2rem;
    }
    #navbar .nav-links .fa-chevron-right{
        font-size:2rem;
    }
    #about-me{
        padding-top: 170px;   
    }
    #about-me div .photo{
        width: 30%;
    }
    #about-me #text-aboutme{
        margin-top: 20px;
        font-size: 1.7rem;
    }
    #about-me .soft{
        font-size:1.2rem;
    }
    #text-aboutme span{
        font-size:1.7rem;
    }
    #about-me .diagrama{
        width: 50%;
        height: 130px;
    }
    
    #skills i{
        font-size: 5rem;   
    }
    #skills img{
        width: 5rem;
        height: 5rem;
    }
    #skills span{
        font-size: 2rem;
    }
    #projects .tarjeta-wrap{
        width: 60%;
        height: 330px;
        margin: 40px auto 40px 90px;
    }

    #projects .tarjeta-right{
        margin: 40px 90px 40px auto;
    }

    #projects .tarjeta-wrap .tarjeta .atras .card-body .card-text{
        font-size: 1.3rem;
    }
    #projects .tarjeta-wrap .tarjeta .atras .card-link{
        font-size: 1.3rem;
        border:solid 2px rgba(205, 205, 205,0.5);
    }
    #contacto{
        height: 15vh;
        padding-top: 10px;

    }
    #contacto p{
        font-size:1.5rem;
    }
    #contacto i{
        font-size: 3.5rem;
    } 
    #contacto a{
        margin-right: 10px;
    }

}
@media (height: 1366px){
    #navbar{
        height: 190px;
        background: white;
    }
    #navbar .hamburger{
        width: 60%;
        height: 100%;
    }
    #navbar .hamburger .fas{
        margin-top: 49px;
        margin-left: 45px;
        font-size: 4.5rem;
    }
    #navbar .nav-links{
        margin-top: 190px; 
    }
    #navbar .nav-links li{
        height: 70px;
        margin: 40px;
    }
    #navbar .nav-links a{
        font-size:2.5rem;
    }
    #navbar .nav-links .fa-chevron-right{
        font-size:2.5rem;
    }
    #about-me #about-mobile{
        display:none;
    }
    #about-me #about-desk{
        display:block;
    }
    #about-me{   
        padding-top: 200px;
        
    }
    #about-me #about-desk .diagrama{
        width: 80%;
    }
    #about-me .soft{
        font-size:1.5rem;
    }
    #about-me div .photo{
        width: 40%;
    }
    #about-desk #text-aboutme-desk{
        font-size: 2.3rem;
        width: 85%;
        text-align: justify;
        letter-spacing: 0.2px;
        color: white;
        font-family: 'Montserrat Alternates', sans-serif;
        margin:auto;
        
    }
    #about-desk #text-aboutme-desk span{
        font-style: italic;
        font-weight: bold;
        color:rgb(235, 200, 234);
        font-size: 2.3rem;
    }
    #skills i{
        font-size: 6rem;   
    }
    #skills img{
        width: 6rem;
        height: 6rem;
    }
    #skills span{
        font-size: 3rem;
    }
    #sikills .text-left{
        margin-left: 20px;
    }
    #projects .tarjeta-wrap{
        width: 60%;
        height: 400px;
        margin: 50px auto 50px 100px;
    }
    #projects .tarjeta-right{
        margin: 50px 100px 50px auto;
    }

    #projects .tarjeta-wrap .tarjeta .atras .card-body .card-text{
        font-size: 1.7rem;
    }
    #projects .tarjeta-wrap .tarjeta .atras .card-body .card-title, .card-subtitle{
        font-size: 2rem;
    }
    #projects .tarjeta-wrap .tarjeta .atras .card-link{
        font-size: 1.5rem;
        border:solid 2px rgba(205, 205, 205,0.5);
    }
    #contacto{
        height: 170px;
        padding-top: 15px;
    }
    #contacto p{
        font-size:2rem;
    }
    #contacto i{
        font-size: 4rem;
    } 
    #contacto a{
        margin-right: 15px;
    }
}
/* @media (height: 950px){
    #about-me{
        height: 100vh;
        padding-top:30%;
    }

} */

@media (min-width: 1025px){

    #navbar{
        width: 100%;
        height: 15%;
    }

    #navbar .nav-links{
        display:flex;
        position: static;
        width: 70%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        transform: translate(0%,0%);
        margin-top: 0%;
        background: transparent;
    }
    #navbar #navLinks li{
        height: 100%;
        padding: 20px 20px;
    }
    #navbar #navLinks li a{
        font-size:20px;
    }
    #navbar #navLinks li:hover{
        background-color: rgba(124, 124, 125,.6);
    }
    #navbar .item-logo{
        display:flex;
        width: 30%;
        height: 100%;
        justify-content: center;
        align-items: center;
    }
    #navbar .item-logo #logo{
        width: 50%;
        /* margin-left: 30px; */
    }
    #navbar .hamburger{
        display:none;
    }
    #navbar .nav-links .link-icon{
        display:none;
    }
    #navbar .nav-links li{
        margin: 0px;
    }
    #navbar .nav-links .link-icon-one{
        width: 100%;
    }
    #home{
        background-image: url('./img/home-desktop.jpg');
        height: 100vh;
    }
    #home #btn-cv{
        font-size: 2rem;
        font-weight: 500;
        border:solid 2px rgba(205, 205, 205,0.5);
    }
    #about-me{
        height: 100vh;
        padding-top:10%;
    }
    #about-me #about-mobile{
        display:none;
    }
    #about-me #about-desk{
        display:block;
        height:100vh;
    }
    #about-me div .photo{
        width: 20%;
    }
    #about-desk #text-aboutme-desk{
        font-size: 1.4rem;
        width: 80%;
        text-align: justify;
        letter-spacing: 0.2px;
        color: white;
        font-family: 'Montserrat Alternates', sans-serif;
        margin:auto;
        
    }
    #about-desk #text-aboutme-desk span{
        font-style: italic;
        font-weight: bold;
        color:rgb(235, 200, 234);
        font-size: 1.4rem;
    }
    #skills{
        padding-top:10%;
    }
    #skills i{
        font-size: 3rem;
        color:rgb(235, 200, 234);
        
    }
    
    #skills img{
        width: 3rem;
        height: 3rem;
        /* box-shadow: 0 2px 2px 0 rgb(191, 185, 164,0.8); */
    }
    
    #skills span{
        color:white;
        font-size: 1rem;
    }
    #projects{
        height: 100%;
        padding: 5%;
        padding-bottom: 15%;
    }
    #projects .tarjeta-wrap{
        display: none;
    }
    #projects .content-all{
        width: 760px;
        height: 450px;
        position: relative;
        display:flex;
        margin:auto;
        margin-top: 10%;
        perspective: 800px;
        box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.3);
    }
    #projects .content-all .content-img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0px;
        left:0px;
        display:none;
    }
    #projects .content-all #slider-mdLinks{
        display:block;
    }
    #projects .content-all #slider-labcar{
        background-color: #f7b617;
    }

    #projects .content-all .content-img img{
        width: 100%;
        height: 100%;
    }
    #projects .content-all .content-img .fa-chevron-left{
        position: absolute;
        margin-top:200px;
        left:20px;
        font-size:40px;
        text-decoration: none;
        color:white;
    }
    #projects .content-all .content-img .fa-chevron-right{
        position: absolute;
        margin-top:200px;
        left:720px;
        font-size:40px;
        text-decoration: none;
        color:white;
    }
    #projects .content-all #slider-voltio .fa-chevron-left{
        color:black;
    }
    #projects .content-all #slider-voltio .fa-chevron-right{
        color:black;
    }
    #projects .content-all .content-img .content-details{
        font-family: 'Montserrat', sans-serif;
        position: relative;
        top: -320px;
        width: 600px;
        height: 50%;
        margin:auto;
        padding:10px;
        background: rgba(205, 205, 205,0.8);
        color:black;
        text-align:center;
    }
    #projects .content-all .content-img .content-details .card-link{
        font-size: 0.7rem;
        color:rgba(188, 57, 186,0.9);
        font-weight: bold;
        border:solid 2px rgba(188, 57, 186,0.9);

    }
    #projects .content-all .content-img .content-details .card-text{
        font-size:1rem;
        font-weight: bold;
    }
    
    #about-me .diagrama{
        width: 55%;
        margin:auto;
    }
    #about-me div .photo{
        width: 15%;
    }
    #contacto{
        height: 20vh;
    }
    #contacto i{
        font-size: 2.5rem;
        margin: 5px 15px;
    }
}